/* --- CONFIGURAÇÕES GERAIS (MODO ESCURO) --- */
body {
  background-color: #121212; /* Fundo Geral Quase Preto */
  color: #e0e0e0; /* Texto Geral Cinza Claro */
  margin: 0;
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}
