.containerHome {
  max-width: 1000px;
  margin: 0 auto;
  padding: 80px 20px;
  text-align: center;
}

.headerHome h1 {
  font-size: 3rem;
  color: #ffcc00;
  margin-bottom: 15px;
  text-transform: uppercase;
}

.headerHome p {
  color: #bbbbbb; 
  font-size: 1.2rem;
}
